* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(135deg, #fff5ee, #ffd9b3);
    color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    min-height: 100vh;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: aliceblue;
    padding: 30px 40px;
    box-shadow:  rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    backdrop-filter: blur(50px);

}

.container h1 {
    font-size:36px;
    text-align: center;
    color:#ff6900

}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: linear-gradient(to bottom right, #ffe8d6, #fdd0b0);
    border: 2px solid rgba(0, 0, 0, 0.2);
    outline: none;
    font-size:  16px;
    color: aliceblue;
    padding: 20px 45px 20px 20px;

}
.input-box input::placeholder {
    color: #444;
}
.input-box i {
    color:#444;
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 25%
}
.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px;
}

.remember-forgot label input {
    accent-color: aliceblue;
    margin-right: 5px;

}
.remember-forgot a {
    text-decoration: none;
    color: aliceblue;

}
.remember-forgot a:hover{
    text-decoration: underline;
}

.login{
    width: 100%;
    height: 45px;
    background-color: #ff6900;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 23px;
}
.login:hover{
    background-color: #e76a11;
    border: 2px solid  rgba(255, 255, 255, .2);
    transition: 0.5s;
}
.register-link {
    color:#444;
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
    margin-top: 20px;
}
.register-link a {
    text-decoration: none;
    color: #ff6900;
    font-weight: 600;

}
.register-link a:hover{
    text-decoration: underline;
}
.label{
    margin-top: 50px;

}

.lembrar {
    color:#444;
}

.esqueci {
    text-decoration: none;
    color: #ff6900;
    margin-top: -17px;
    display: flex;
    justify-content: end;
}